.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

.p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-brand {
  font-family: "Alfa Slab One", cursive;
}
